[user]
        name = Michael Skvortsov
        email = demoniac.death@gmail.com
[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto
[alias]
        st                      = status
        ci                      = commit
        co                      = checkout
        br                      = branch
        hist                    = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=iso
        line                    = log --pretty=format:\"%h %ad | %s%d [%an]\" --date=iso --first-parent
        subj                    = log -1 --no-merges --pretty=format:\"%s\"
        rs-merge                = reset --merge
	di-index                = diff --cached
	di-names		= "!f(){ git diff --name-only | uniq; }; f"
[core]
        editor = vi
	mergeoptions = --no-edit
	excludesfile = /home/demoniac/.gitignore_global
[diff]
        tool = vimdiff
[difftool]
        prompt = false
[push]
        default = current
